<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <tittle>Animation Text</tittle>
        <link rel="stylesheet" href="/stylesheets/text-animation.css">
    </head>
    <body>

        <div class="container">
            <span class="text1">W E L C O M E</span>
            <span class="text2">C H I M E R A</span>
            <span class="text3">you don't stop gaming</span>
            <span class="text4">because you grow old</span>
            <span class="text5">....................</span>
            <span class="text6">you grow old</span>
            <span class="text7">because you stop gaming</span>
        </div>
        
    </body>

</html>